.licenses {
  display: flex;
  flex-direction: column;
  gap: 7.8rem;
  margin-block: 10rem;

  @media screen and (max-width: 992px) {
    margin-block: 7rem;
  }

  @media screen and (max-width: 768px) {
    gap: 4rem;
  }

  @media screen and (max-width: 576px) {
    margin-block: 4rem;
  }

  &__wrapper {
    display: flex;
    gap: 12rem;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 2.5rem;
    }

    &:nth-of-type(1) .licenses__info strong,
    &:nth-of-type(2) .licenses__info strong {
      font-family: var(--font-family-second);
      font-size: 3rem;
      font-weight: 700;
      color: var(--color-heading);
      line-height: 116%;
    }

    &:nth-of-type(3) .licenses__info strong {
      font-weight: 600;
      color: var(--color-heading);
    }

    &:nth-of-type(1) .licenses__info p:nth-child(3),
    &:nth-of-type(2) .licenses__info p:nth-child(2),
    &:nth-of-type(2) .licenses__info p:nth-child(4) {
      font-family: var(--font-family-second);
      font-size: 2.5rem;
      font-weight: 400;
      color: var(--color-heading);
      line-height: 116%;
    }
  }

  &__content {
    display: flex;
  }

  &__title {
    width: 27.4rem;
    font-family: var(--font-family-second);
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-heading);
    line-height: 116%;
  }

  &__info {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
  }
}
