.projects {
  &__wrapper {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 10rem;

    @media screen and (max-width: 992px) {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      padding-block: 7rem;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      padding-block: 4rem;
    }
  }

  &__body {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .projects__link {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      height: 85%;
      background: rgb(28, 31, 53, 91%);
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      text-decoration: none;
      visibility: hidden;
    }

    &:hover .projects__link {
      opacity: 1;
      visibility: visible;
    }
  }
}
