.accordion {
  display: grid;
  width: 68rem;
  padding-top: 5rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__details {
    &[open] {
      .accordion__title {
        &::after {
          transform: rotate(45deg) translateY(-50%); // стрелка вниз
          border-color: var(--color-base-yellow);
        }
      }

      &+.accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    font-family: var(--font-family-second);
    font-size: 20px;
    font-weight: 400;
    color: #1c1f35;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;
    padding-right: 5rem;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 1.2rem;
      height: 1.2rem;
      transform: rotate(-45deg) translateY(-50%); // стрелка вправо
      transition: transform 0.3s ease;
      border-bottom: 2px solid var(--color-base-blue);
      border-left: 2px solid var(--color-base-blue);
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    padding-top: 1.8rem;
    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }

    &-body {
      width: 100%;
      max-width: 57rem;
      font-size: 16px;
      font-weight: 500;
      color: #666c89;
      line-height: 152%;
    }
  }
}
