.accordion {
  display: grid;
  padding-top: 5rem;
  width: 68rem;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &__details {
    &[open] {
      .accordion__title {

        &::before,
        &::after {
          background-color: gray;
        }

        &::after {
          rotate: 0deg;
        }
      }

      &+.accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 20px;
    color: #1c1f35;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;
    padding-right: 5rem;
    transition-duration: .2s;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      content: '';
      right: 0;
      width: 1.6rem;
      height: .2rem;
      color: black;
      background-color: black;
      border-radius: 1rem;
      transition-duration: 0.2s;
    }

    &::after {
      rotate: 90deg;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    padding-top: 1.8rem;
    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }

    &-body {
      font-weight: 500;
      font-size: 16px;
      line-height: 152%;
      color: #666c89;
      width: 100%;
      max-width: 57rem;
    }
  }
}
