.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 10rem;

  @media screen and (max-width: 768px) {
    padding-block: 5rem;
  }

  &__title {
    margin-top: 1.3rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 3.9rem;
    padding-inline: 1.5rem;
  }

  &__news {
    display: flex;
    border-top: 1px solid #d6d6d6;
    gap: 2rem;
    padding-block: 2.6rem 3.5rem;

    &:last-child {
      border-bottom: 1px solid #d6d6d6;
    }

    @media screen and (max-width: 768px) {
      display: grid;
      border-top: 1px solid #d6d6d6;
      gap: 2rem;
      grid-template:
        "calendar info" auto "img      img" auto / min-content 1fr;
      padding-block: 2rem;
    }
  }

  &__img {
    grid-area: img;

    @media screen and (max-width: 992px) {
      width: 400px;
      height: auto;
    }

    @media screen and (max-width: 768px) {
      border-top: 1px solid #d6d6d6;
      padding-top: 2rem;
    }
  }

  &__left {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .blog__img-link {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
      height: 85%;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      background: rgb(28, 31, 53, 91%);
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      line-height: 135%;
      text-decoration: none;
      visibility: hidden;
    }

    &:hover .blog__img-link {
      opacity: 1;
      visibility: visible;
    }
  }

  &__calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    grid-area: calendar;
  }

  &__date {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    color: #666c89;
    flex-direction: column;
    gap: 0.8rem;
    line-height: 152%;
    margin-top: 0.8rem;
    text-align: center;
  }

  &__day {
    font-family: var(--font-family-second);
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-base-blue);
    text-align: center;
  }

  &__info {
    display: flex;
    max-width: 37rem;
    border-left: 1px solid #d6d6d6;
    flex-direction: column;
    padding-left: 2.3rem;
    padding-top: 1.1rem;

    @media screen and (max-width: 768px) {
      padding-left: 2rem;
    }
  }

  &__content {
    a {
      font-family: var(--font-family-second);
      font-size: 25px;
      font-weight: 400;
      color: var(--color-base-blue);
      transition: all 0.3s ease;

      &:hover {
        color: var(--color-base-yellow);
      }

    }

    p {
      margin-top: 1.6rem;
    }

    ul {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-heading);
      line-height: 167%;
      margin-top: 1.8rem
    }

    li {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 0.6rem;
      margin-left: 1rem;
      padding-left: 1.4rem;
    }

    li::before {
      content: '';
      position: absolute;
      left: 0;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background-color: var(--color-base-blue);
      object-fit: cover;
    }
  }


  &__button {
    margin-top: 3.9rem;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }
  }
}
