.header-nav {
  &__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__item {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 135%;

    &:not(:first-child) {
      border-left: 1px solid rgb(255, 255, 255, 20%);
      padding-left: 3rem;
    }
  }
}
