.service-benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    padding-top: 7rem;
  }

  @media screen and (max-width: 576px) {
    padding-top: 4rem;
  }

  &__left {
    max-width: 44.2rem;
  }

  &__desk {
    margin-top: 1.2rem;
  }

  &__list {
    display: flex;
    font-family: var(--font-family-second);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-heading);
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 4rem;

    @media screen and (max-width: 576px) {
      margin-top: 2.5rem;
    }
  }

  &__option {
    position: relative;
    padding-left: 2.6rem;

  }

  .service-benefit__option::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/icons/arrow-right.svg");
    background-repeat: no-repeat;
    translate: 0 -35%;
  }
}
