.our-project-transportation {
  padding-top: 10rem;

  @media screen and (max-width: 992px) {
    padding-top: 7rem;
  }

  @media screen and (max-width: 576px) {
    padding-top: 4rem;
  }

  &__description {
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    font-weight: 500;
    color: #666c89;
    line-height: 152%;
    padding-block: 1.2rem 3rem;
  }

  &__video {
    width: 100%;
    max-width: 120rem;
    height: auto;
  }
}
