.project-details {
  background: #f4f4f4;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 6.6rem;
    padding-block: 10rem;

    @media screen and (max-width: 1050px) {
      flex-direction: column;
    }

    @media screen and (max-width: 992px) {
      gap: 5rem;
      padding-block: 7rem;
    }

    @media screen and (max-width: 576px) {
      gap: 3rem;
      padding-block: 4rem;
    }
  }

  &__title {
    font-family: var(--font-family-second);
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--color-base-blue);
    padding-bottom: 4rem;

    @media screen and (max-width: 576px) {
      padding-bottom: 2rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: flex;
    font-family: var(--font-family-second);
    color: var(--color-base-blue);
  }

  &__label {
    display: flex;
    justify-content: space-between;
    width: 11.2rem;
    font-size: 2rem;
    font-weight: 500;
  }

  &__key {
    font-size: 2rem;
    font-weight: 400;
    overflow-wrap: break-word;
    padding-left: 3rem;
  }
}
