.warehouse-transportation {
  padding-top: 10rem;

  @media screen and (max-width: 992px) {
    padding-top: 7rem;
  }

  @media screen and (max-width: 576px) {
    padding-top: 4rem;
  }

  &__description {
    font-family: var(--font-family-bas);
    font-size: 1.6rem;
    font-weight: 500;
    color: #666c89;
    line-height: 152%;
    padding-top: 1.2rem;
  }

  &__list {
    display: flex;
    font-family: var(--font-family-second);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-heading);
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 3rem;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__arrow {
    display: flex;
    align-items: center;
  }

  &__option {
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 2.6rem;
  }
}
