.protection {
  &__wrapper {
    display: flex;
    padding: 12.5rem 35.1rem;
    background: var(--color-base-blue);
    flex-direction: column;
    gap: 4.2rem;
    margin-block: 10rem;

    @media screen and (max-width: 992px) {
      padding: 7rem 1.5rem;
      margin-block: 7rem;
    }

    @media screen and (max-width: 576px) {
      gap: 3rem;
      margin-block: 4rem;
    }
  }

  &__title {
    font-family: var(--font-family-second);
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    line-height: 116%;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      gap: 2.5rem;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }

      .form__group {
        @media screen and (max-width: 992px) {
          max-width: 317px;
        }
      }
    }

    .contact__button {
      padding: 1.9rem 5rem;
      align-self: center;
      margin-right: 0;
    }
  }
}
