.single-body {
  display: flex;
  justify-content: space-between;
  padding-block: 10rem;

  @media screen and (max-width: 992px) {
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding-block: 7rem;
  }

  @media screen and (max-width: 576px) {
    padding-block: 4rem;
  }

  &__left {
    display: flex;
    width: 100%;
    max-width: 66.4rem;
    flex-direction: column;

    h2 {
      font-family: var(--font-family-second);
      font-size: 3.5rem;
      font-weight: 600;
      color: var(--color-heading);
      margin-bottom: 1.2rem;
    }

    blockquote {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 100%;
      background: var(--color-base-blue);
      margin-block: 3rem 4rem;

      p {
        width: 55.4rem;
        color: #fff;
        font-style: italic;
        padding-block: 5rem;
        text-align: center;
      }
    }

    img {
      margin-block: 3rem 1.2rem;
    }

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-paragraph);
      line-height: 152%;
      margin-bottom: 3rem;
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block: solid 1px #d6d6d6;
    margin-top: 3rem;
    padding-block: 2rem;
  }

  &__socials {
    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    img {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;

    @media screen and (max-width: 992px) {
      flex-direction: row;
      gap: 2rem;
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__category {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-paragraph);
    line-height: 152%;
  }

  &__default {
    max-width: 44rem;
    padding: 4.6rem 4.2rem;
    background: #f5f5f5;

    @media screen and (max-width: 992px) {
      padding: 2rem;
    }

    h5 {
      font-family: var(--font-family-second);
      font-size: 2.2rem;
      font-weight: 600;
      color: var(--color-heading);
    }
  }

  &__alt {
    max-width: 44rem;
    padding: 4.6rem 4.2rem;
    background: var(--color-base-blue);

    @media screen and (max-width: 992px) {
      padding: 2rem;
    }
  }

  &__categories {

    @media screen and (max-width: 992px) {
      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
      margin-top: 3rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      font-family: var(--font-family-second);
      font-size: 1.8rem;
      font-weight: 400;
      color: var(--color-paragraph);
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 1.5rem;

      span {
        font-family: var(--font-family-second);
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--color-heading);
        text-transform: uppercase;
      }
    }
  }

  &__description {
    font-family: var(--font-family-second);
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-paragraph);
    line-height: 130%;
    margin-top: 1.2rem;
  }

  &__button {
    padding: 1.9rem 3.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #23212a;
    background: linear-gradient(127deg, #ffb629 0%, #ffda56 50.72%, #ffd7a6 100%);
    border: none;
    line-height: 135%;
    margin-top: 3rem;
  }

  &__tag {
    font-family: var(--font-family-second);
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    background: transparent;
  }

  &__help {
    width: 100%;
  }

  &__contacts {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__info {
    font-family: var(--font-family-second);
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    line-height: 125%;
    margin-top: 2.4rem;

    &:nth-child(2) {
      border-bottom: 1px solid #1d2342;
      padding-bottom: 2.4rem;
    }
  }
}
