.single-body {
  display: flex;
  justify-content: space-between;
  padding-block: 10rem;

  &__left {
    width: 100%;
    max-width: 66.4rem;

    h2 {
      font-family: var(--font-family-second);
      font-size: 3.5rem;
      font-weight: 600;
      color: var(--color-heading);
      margin-bottom: 1.2rem;
    }

    blockquote {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 100%;
      background: var(--color-base-blue);
      margin-block: 3rem 4rem;

      p {
        width: 55.4rem;
        color: #fff;
        font-style: italic;
        padding-block: 5rem;
        text-align: center;
      }
    }

    img {
      margin-block: 3rem 1.2rem;
    }

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--color-paragraph);
      line-height: 152%;
      margin-bottom: 3rem;
      text-align: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-block: 2rem;
    border-block: solid 1px #d6d6d6;
  }

  &__socials {

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    img {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
  }

  &__category {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 152%;
    color: var(--color-paragraph);
  }

  &__default {
    max-width: 44rem;
    padding: 4.6rem 4.2rem;
    background: #f5f5f5;

    h5 {
      font-family: var(--font-family-second);
      font-weight: 600;
      font-size: 2.2rem;
      color: var(--color-heading);
    }
  }

  &__alt {
    max-width: 44rem;
    padding: 4.6rem 4.2rem;
    background: var(--color-base-blue);
  }

  &__categories {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.9rem;
      margin-top: 3rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 1.8rem;
      padding-bottom: 1.5rem;
      color: var(--color-paragraph);
      border-bottom: 1px solid #d6d6d6;

      span {
        font-family: var(--font-family-second);
        font-weight: 500;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: var(--color-heading);
      }
    }
  }

  &__description {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    margin-top: 1.2rem;
    color: var(--color-paragraph);
  }

  &__button {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 135%;
    padding: 1.9rem 3.6rem;
    margin-top: 3rem;
    color: #23212a;
    background: linear-gradient(127deg, #ffb629 0%, #ffda56 50.72%, #ffd7a6 100%);
    border: none;
  }

  &__tag {
    font-family: var(--font-family-second);
    font-weight: 600;
    font-size: 2.2rem;
    color: #fff;
    background: transparent;
  }

  &__info {
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 125%;
    margin-top: 2.4rem;
    color: #fff;

    &:nth-child(2) {
      padding-bottom: 2.4rem;
      border-bottom: 1px solid #1d2342;
    }
  }
}
